<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>OAuth with Passport</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <% if (user) { %>
            <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <% } %>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <header>
        <h1>OAuth with Passport.js</h1>
        <h2>Homepage</h2>
    </header>
    <main>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Iure, cum mollitia voluptate optio placeat praesentium maxime alias!
            Cupiditate nulla quasi facere nobis in temporibus libero nemo.
            Ullam nostrum error omnis.
        </p>
    </main>
</body>

</html>