<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>OAuth with Passport</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <% if (user) { %>
            <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <% } %>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <header>
        <h1>Welcome to your profile, <%= user.userName%></h1>
    </header>
    <main>
        <img src="<%= user.thumbnail %>" alt="Thumbnail">
        <p>
            Extra info about you:
        </p>
    </main>
</body>

</html>